{{#each this}}
<li class="card-item animate__animated animate__zoomIn">
  <div class="card-img-div" data-id="{{id}}">
    <img class="card-img" loading="lazy" src={{images.url}} alt="#">
  </div>
  <div>
    <h2 class="card-name">{{name}}</h2>
    <p class="card-date">{{dates.start.localDate}}</p>
    <p class="card-place">
      <svg width="6px" height="9px">
        <use width="6px" height="9px" href="./images/sprite.svg#icon-map">
        </use>
      </svg>{{_embedded.venues.0.name}}
    </p>

  </div>
</li>
{{/each}}

{{!-- animate__flipInX --}}
{{!-- animate__zoomIn --}}
{{!-- animate__jackInTheBox --}}