{{#each _embedded.attractions}}
<li class="more-info-itms">{{name}}
    <ul class="author-links-list">
        {{#if this.externalLinks.wiki}}
        <li class="more-info-itm">
            <a href="{{externalLinks.wiki.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-wikipedia"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.homepage}}
        <li class="more-info-itm">
            <a href="{{externalLinks.homepage.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-home"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.facebook}}
        <li class="more-info-itm">
            <a href="{{externalLinks.facebook.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.twitter}}
        <li class="more-info-itm">
            <a href="{{externalLinks.twitter.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.google}}
        <li class="more-info-itm">
            <a href="{{externalLinks.google.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-google"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.youtube}}
        <li class="more-info-itm">
            <a href="{{externalLinks.youtube.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.itunes}}
        <li class="more-info-itm">
            <a href="{{externalLinks.itunes.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-itunes"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.lastfm}}
        <li class="more-info-itm">
            <a href="{{externalLinks.lastfm.0.url}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-lastfm"></use>
                </svg>
            </a>
        </li>
        {{/if}}
        {{#if this.externalLinks.musicbrainz}}
        <li class="more-info-itm">
            <a href="https://musicbrainz.org/artist/{{externalLinks.musicbrainz.0.id}}" class="more-info-link" target="_blank">
                <svg class="more-info-icon">
                    <use href="./images/sprite.svg#icon-musicbrainz"></use>
                </svg>
            </a>
        </li>
        {{/if}}
    </ul>
</li>
{{/each}}