<div class="event-badge">
    <img loading="lazy" src="{{images.1.url}}" alt="" class="ticket-badge">
</div>
<div class="ticket-poster-wrapper">
    <img loading="lazy" src="{{images.0.url}}" alt="" class="ticket-poster">
</div>
<div class="ticket-info">
    <h2 class="ticket-info-title">info</h2>
    <div class="ticket-info-txt">
        <p class="info" id="info">{{info}}</p>
        <span class="is-hidden" id="more">&dArr;</span>
        <span class="is-hidden" id="less">&uArr;</span>
        </div>
    <h2 class="ticket-info-title">when</h2>
    <p class="ticket-info-txt">
        {{dates.start.localDate}}</p>
    <p class="ticket-info-txt">{{dates.start.localTime}}({{dates.timezone}})</p>

    <h2 class="ticket-info-title">where</h2>
    <p class="ticket-info-txt">
        {{#each _embedded.venues}}
        {{city.name}},{{country.name}}</p>
    <p class="ticket-info-txt">{{name}}</p>
    {{/each}}

    <h2 class="ticket-info-title">who</h2>
    <p class="ticket-info-txt">{{name}}</p>
    <h2 class="ticket-info-title">prices</h2>
    <p class="ticket-info-txt">
        <svg class="contacts-icon" width="24" height="16">
            <use href="./images/sprite.svg#icon-ticket1"></use>
        </svg> Standart {{sMessage}}
        {{#if this.priceRanges}}
        {{priceRanges.0.min}} - {{priceRanges.0.max}} {{priceRanges.0.currency}}
        {{/if}}
    </p>
    <a class="tckt-buy-button std" href="{{url}}" target="_blank">buy tickets</a>
    <p class="ticket-info-txt">
        <svg class="contacts-icon" width="24" height="16">
            <use href="./images/sprite.svg#icon-ticket1"></use>
        </svg> VIP {{vMessage}}
    </p>
    <a class="tckt-buy-button vip" href="{{url}}" target="_blank">buy tickets</a>
</div>